---
import { SEO } from 'astro-seo';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="My personal portfolio website" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<SEO
      title="Francis Mistica | Web Developer & Graphic Designer"
      description="Francis Mistica - Web Developer & Graphic Designer. Explore a creative blend of web development and graphic design skills to bring your digital projects to life."
      openGraph={{
        basic: {
          title: "Francis Mistica's Personal Portfolio",
          type: "website",
          image: "https://avatars.githubusercontent.com/u/68912764?s=400&u=13ff62921980412714cf60022a44b0928ecb76e2&v=4",
        }
      }}
      twitter={{
        creator: "@francismistica"
      }}
      extend={{
        // extending the default meta tags
        meta: [
          {
            name: "twitter:image",
            content: "https://avatars.githubusercontent.com/u/68912764?s=400&u=13ff62921980412714cf60022a44b0928ecb76e2&v=4",
          },
          { name: "twitter:title", content: "Francis Mistica | Web Developer & Graphic Designer" },
          { name: "twitter:description", content: "Francis Mistica - Web Developer & Graphic Designer. Explore a creative blend of web development and graphic design skills to bring your digital projects to life." },
		  {name: "author", content: "Francis Mistica"},
        ],
      }}
    />
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
